html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */

@media only screen and (min-width: 435px) and (max-width: 1180px) {
    #monkey {
        top: -30px;
    }

    #monkey img {
        width: 70%;
        height: 80%;
    }
}
